body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 4.375rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 10%;
}
.middle-container{
  margin: 100px auto;

}
.profile{
  width: 25%;
  margin: auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 20%;
  top: 5%;
}
.bottom-cloud{
  position: absolute;
  left: 15%;
  top: 60%;
}
p{
  line-height: 2;
}
hr{
  border: dotted #9D9D9D 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.design{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cric{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro{
  width: 100%;
  margin: auto;
}
.rcb{
  padding-bottom: 20px;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 68;
  -moz-border-radius: 68;
  border-radius: 68px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 10px;
}
